body {
    background-color: rgb(217,85,80);
}
/* BOTONES */
.btn-salmon {
  background-color:   rgb(213, 155, 153);
  color: #fff;
}
.btn-start{
    border-bottom: 6px solid #ccc;
    font-size: 3em
}
.timer {
    font-size: 7em;
    font-weight: 900;
}
